.game-over-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
  color: white;
  background-color: rgba(0,0,0,.7);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  padding: 2rem;
  border: 2px solid yellow;
  border-radius: 10px;
}
.game-results {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.game-results p {
  font-size: 1.1rem;
  font-weight: 500;
}
.play-again-btn {
  padding: 1rem 1.5rem;
  background-color: blueviolet;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  border: 0;
  border-radius: 6px;
  transition: .2s;
}
.play-again-btn:hover {
  cursor: pointer;
  background-color: darkviolet;
}
.play-again-btn:active {
  background-color: hsl(282, 100%, 30%);
}

@media screen and (max-width: 568px) {
  .game-over-container {
    max-width: 97%;
    padding: 1rem;
  }
  .game-over-container h1 {
    font-size: 1.5rem;
  }
  .game-over-container h2 {
    font-size: 1.2rem;
  }
}