.game-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
  padding: 2rem;
  border: 2px solid yellow;
  border-radius: 10px;
  color: white;
  background-color: rgba(0,0,0,.7);
  backdrop-filter: blur(3px);
}
.grid-size {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.game-settings p {
  font-size: 1.1rem;
  font-weight: 500;
  align-self: flex-start;
}
.grid-size-btn {
  padding: 1rem 1.5rem;
  background-color: blueviolet;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  border: 0;
  border-radius: 6px;
  transition: .2s;
}
.grid-size-btn:hover {
  cursor: pointer;
  background-color: darkviolet;
}
.grid-size-btn:active {
  background-color: hsl(282, 100%, 30%);
}
.start-btn {
  padding: 1rem;
  width: 100%;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: white;
  background-color: blueviolet;
  border: 0;
  border-radius: 10px;
}
.start-btn:hover {
  cursor: pointer;
}