* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  display: grid;
  place-content: center;
  background-image: url(../public/images/bikini-bottom-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}
.bubble {
  position: absolute;
  background-image: url(../public/images/bubble.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: bubble-flow 60s linear infinite;
}

@keyframes bubble-flow {
  0% {
    left: -50px;
  }
  100% {
    left: calc(100% + 50px);
  }
}